<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/css/console.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/plus/css/jquery.popuplayer.css" rel="stylesheet">
    <link href="/static/plus/css/cropbox.css" rel="stylesheet">
    <title>console</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/myUtils.js"></script>
    <script src="/static/plus/js/jquery.popuplayer.js"></script>
    <script src="/static/plus/js/cropbox.js"></script>
    <script src="/static/js/myLoading.js"></script>
    <style>
        .popup-layer-content{
            display: flex;
        }
        .cropboxCloseWrap{
            position: absolute;
            top: -50%;
            left: calc(50% - 30px);
            width: 60px;
            height: 60px;
            cursor: pointer;
        }
        .cropboxCloseWrap:hover .cropboxClose{
            animation-play-state: paused;
        }
        .cropboxCloseWrap > span{
            position: absolute;
            font-size: 20px;
            left: calc(50% - 20px);
            top: calc(50% - 15px);
            color: #eeeeee;
        }
        .cropboxClose{
            position: absolute;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #41ab6b;
            border: 30px solid #31b0d5;
            animation: cropboxCloseSpin ease-in 5s alternate infinite;
            transition: all 1s;
        }
        .cropboxClose::after,.cropboxClose::before{
            content: ' ';
            display: block;
            position: relative;
            width: 30px;
            height: 30px;
            left: -15px;
            border-radius: 50%;
            background: #31b0d5;
        }
        .cropboxClose::before{
            bottom: -5px;
        }
        .loadingBar{
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            background-color: rgba(38,38,38,.7);
            border-radius: 2em;
            width: 15px;
            padding: 1px;
            opacity: 0;
        }
        .loadingBar > i{
            background-color:#45e3cc;
            background-image: linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 0,transparent 50%,rgba(255,255,255,.2) 0,rgba(255,255,255,.2) 75%,transparent 0);
            background-size: 100% 15px;
            width: 15px;
            border-radius: 2em; 
        }
        @keyframes cropboxCloseSpin{
            0%{
                transform: rotate(0);
                border-radius: 50%;
            }
            25%{
                border-radius: 40% 50% 25% 45%;
            }
            50%{
                border-radius: 40%;
            }
            75%{
                border-radius: 20% 35% 45% 40%;
            }
            100%{
                transform: rotate(365deg);
                border-radius: 45%; 
            }
        }
        @keyframes loadingBarMove{
            0%{
                background-position:0 0;
            }
            100%{
                background-position:0 -100%;
            }
        }
        .c-r-s-panel-guests-item-delete{
            position: absolute;
            right: -50%;
            top: 0;
            bottom: 0;
            width: 50%;
            color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            transition: all .5s;
        }
    </style>
    <script>
        $(function($){
            //初始化加载设置
            const config = {
                flags:{},
                guests: [],
                QRSrc:null
            }
            $.get('/api/wall/flags?username=<%= username %>',function(data){
                if(!!data && data != '-1'){
                    Object.assign(config.flags,data)
                }
                console.log(config.flags.guests)
                if(!!config.flags.guests && config.flags.guests == '1'){
                    $('#c-r-s-guests').css({
                        'background-image':'linear-gradient(0,rgba(100,200,100,.5) 100%,transparent 0)'
                    })
                    $('#guests-flag').removeClass('fa-toggle-off').addClass('fa-toggle-on')
                }else{
                    $('#c-r-s-guests').css({
                        'background-image':'initial'
                    })
                    $('#guests-flag').removeClass('fa-toggle-on').addClass('fa-toggle-off')
                }
                if(!!config.flags.vote && config.flags.vote == '1'){
                    $('c-r-s-vote').css({
                        background:'rgba(100,205,100,.7)'
                    })
                }
            })
            $.get('/api/wall/guests?username=<%= username %>',function(data){
                if(data != '-1') {
                    config.guests = data
                    data.forEach(function(item){
                        var html = `<div class = "c-r-s-panel-guests-item" data-guest-id="${item.guestId}"><img src="${item.avatarSrc}" title="${item.name}"><i class="fa fa-remove c-r-s-panel-guests-item-delete"></i></div>`
                        $('#c-r-s-panel-guests-list div:last-child').before(html).prev().on('click',showGuestInfo).on('mouseover',guestMouseOverEvent).on('mouseout',guestMouseOutEvent)
                    })
                }
            })
            $.get('/api/wall/QRSrc?username=<%= username %>',function(data){
                if(!!data && data != '-1' && data != '-2'){
                    $('#QRSrc').attr({
                        src:data
                    })
                }
            })
            $.get('/api/wall/votes?username=<%= username %>',function(data){
                if(!!data && data != '-1'){
                    var votes = data
                    votes.forEach(function(item){
                        var html = `
                            <div class="c-r-s-panel-vote-item" data-vote-id="${item.voteId}" data-save-flag="1">
                                <div class="c-r-s-panel-vote-item-header">
                                    <div><span>投票主题:</span><span>${item.title}</span></div>
                                    <div><i class="fa fa-check vote-save-btn"></i><i class="fa fa-remove vote-delete-btn"></i><i class="fa fa-toggle-off vote-switch-btn"></i></div>
                                </div>
                                <div class="c-r-s-panel-vote-item-info">
                                    <div class="c-r-s-panel-vote-item-settings">
                                        <p class="vote-check-btn" data-vote-flag="${item.settings.check}">`
                                            if(item.settings.check == '1'){
                                                html += `
                                                <span class="vote-radio-btn" style="flex:3;background-color:initial">单选</span>
                                                <span class="vote-options-btn" style="flex:7;background-color:rgba(30,200,30,.7)">多选</span>`
                                            }else{
                                                html += `
                                                <span class="vote-radio-btn">单选</span>
                                                <span class="vote-options-btn">多选</span>`
                                            }
                                        html += ` 
                                        </p>
                                        <p class="vote-type-btn" data-vote-flag="${item.settings.type}">`
                                            if(item.settings.type == '1'){
                                                html += `
                                                <span class="vote-text-image-btn" style="flex:3;background-color:initial">图文</span>
                                                <span class="vote-text-btn" style="flex:7;background-color:rgba(30,200,30,.7)">文字</span>`
                                            }else{
                                                html += `
                                                <span class="vote-text-image-btn">图文</span>
                                                <span class="vote-text-btn">文字</span>`
                                            }
                                        html += `
                                        </p>
                                        <p class="vote-display-btn" data-vote-flag="${item.settings.display}">`
                                            if(item.settings.display == '1'){
                                                html += `
                                                <span class="vote-show-illustration-btn" style="flex:3;background-color:initial">图表</span>
                                                <span class="vote-show-list-btn" style="flex:7;background-color:rgba(30,200,30,.7)">列表</span>`
                                            }else{
                                                html += `
                                                <span class="vote-show-illustration-btn">图表</span>
                                                <span class="vote-show-list-btn">列表</span>`                              
                                            }
                                        html += `
                                        </p>
                                    </div>
                                    <div class="c-r-s-panel-vote-item-options">
                                        <p>投票主题:<input name="voteTitle" value="${item.title}"></p>`
                                        var str = ''
                                        for(var i in item.options){
                                            str += `
                                                <p data-vote-options-id="${item.options[i].id}">
                                                    选项${i}:
                                                    <label class="vote-options-image" title="建议上传尺寸为100*100的图片" data-imgsrc="${item.options[i].imgsrc}">`
                                                        if(item.settings.type == '1'){
                                                            str += `<img src="${item.options[i].imgsrc}" alt="image" width="30px" height="30px" style="display:none;">`
                                                        }
                                                        else str += `<img src="${item.options[i].imgsrc}" alt="image" width="30px" height="30px">`
                                                        str += `
                                                        <input type="file" name="voteOptions${i}Image" style="display:none">
                                                    </label>
                                                    <input name="voteOption${i}Content" value="${item.options[i].content}">`
                                            if(Number.parseInt(i) > 2){
                                                str += '<i class="fa fa-remove vote-options-delete"></i>'
                                            }
                                            str += '</p>'
                                        }
                                        str += '<p class="vote-options-addnew fa fa-plus"></p>'
                                    html += str + `
                                    </div>
                                </div>
                            </div>`
                        $('#c-r-s-panel-vote-addbtn').before(html)
                        $('.vote-options-addnew').off().on('click',optionsAddNew)
                        $('.c-r-s-panel-vote-item[data-vote-id="'+item.voteId+'"]').children('.c-r-s-panel-vote-item-header').on('click',voteShowInfo)
                        
                        var settingsItem = $('.c-r-s-panel-vote-item[data-vote-id="'+item.voteId+'"]').children('.c-r-s-panel-vote-item-info').children('.c-r-s-panel-vote-item-settings')
                        settingsItem.children('.vote-check-btn').children('.vote-radio-btn').on('click',{parent:'.vote-check-btn',ps:'next'},voteBtnClick)                    
                        settingsItem.children('.vote-check-btn').children('.vote-options-btn').on('click',{parent:'.vote-check-btn'},voteBtnClick)
                        settingsItem.children('.vote-type-btn').children('.vote-text-image-btn').on('click',{parent:'.vote-type-btn',ps:'next'},voteBtnClick)
                        settingsItem.children('.vote-type-btn').children('.vote-text-btn').on('click',{parent:'.vote-type-btn'},voteBtnClick)
                        settingsItem.children('.vote-display-btn').children('.vote-show-illustration-btn').on('click',{parent:'.vote-display-btn',ps:'next'},voteBtnClick)
                        settingsItem.children('.vote-display-btn').children('.vote-show-list-btn').on('click',{parent:'.vote-display-btn'},voteBtnClick)
                        $('.c-r-s-panel-vote-item[data-vote-id="'+item.voteId+'"]').children('.c-r-s-panel-vote-item-info').children('.c-r-s-panel-vote-item-options').children('p[data-vote-options-id]').children('.vote-options-image').children('input').on('change',chooseOptionsImage)
                        var headerBtn = $('.c-r-s-panel-vote-item[data-vote-id="'+item.voteId+'"]').children('.c-r-s-panel-vote-item-header').children('div').last()
                        headerBtn.children('.vote-save-btn').on('click',voteSave)
                        headerBtn.children('.vote-delete-btn').on('click',voteDelete)
                        headerBtn.children('.vote-switch-btn').on('click',voteSwitch)
                    })
                }
            })

            var showGuestInfo = function(){
                $('#c-r-s-panel-guests-list').removeClass('c-r-s-panel-guests-active')
                $('#c-r-s-panel-guests-addnew').addClass('c-r-s-panel-guests-active')
                var info = {}
                info.guestId = $(this).attr('data-guest-id')
                info.imgData = $(this).children('img').attr('src')
                if(!info.guestId) return
                var extraEventOnce = function(id,id_link,that){
                    that.settings.arr = []
                    guestsIconBackEvent.settings.activeMenu = []
                    that.settings.arr.push(['#c-r-s-panel-guests-panel-back','#c-r-s-panel-guests-list','',''])
                    that.iconHoverBind()
                    that.iconClickBind()
                    guestsIconBackEvent.settings.extraEvent = null
                    guestsIconBackEvent.settings.activeMenu = ['#c-r-s-panel-guests-panel-back','#c-r-s-panel-guests-list','','']
                }
                if(guestsIconBackEvent.settings.activeMenu[0] == '#c-r-s-panel-guests-panel-back'){
                    extraEventOnce('#c-r-s-panel-guests-panel-back','#c-r-s-panel-guests-list',guestsIconBackEvent)
                }
                guestsIconBackEvent.settings.activeMenu = ['#c-r-s-panel-guests-addbtn','#c-r-s-panel-guests-addnew','','']
                guestsIconBackEvent.settings.extraEvent = extraEventOnce
                config.guests.forEach(function(item){
                    if(item.guestId == info.guestId){
                        $('#c-r-s-panel-guests-addnew-guestName').val(item.name)
                        $('#c-r-s-panel-guests-addnew-guestTitle').val(item.title)
                        $('#c-r-s-panel-guests-addnew-guestIntroduction').val(item.introduction)
                        $('#c-r-s-panel-guests-addnew-avatar').attr({
                            'data-imgsrc': item.avatarSrc,
                            src: info.imgData,
                            'data-guest-id': item.guestId
                        })
                    }
                })
            }
            var deleteGuestInfo = function(evt){
                evt.stopPropagation()
                var info = {}
                info.guestId = $(this).parent().attr('data-guest-id')
                if(!info.guestId) return
                info.username = '<%= username %>'
                for(var i = 0;i < config.guests.length;i++){
                    if(config.guests[i].guestId == info.guestId){
                        info.avatarSrc = config.guests[i].avatarSrc
                        break
                    }
                }
                var html = "<i class='fa fa-check-circle-o fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Deletting...</span>"
                clearMyLoading = myLoading("Deletting...",html);
                $.post('/api/wall/deleteGuest',info,function(res){
                    if(res == '1'){
                        $('[data-guest-id="'+info.guestId+'"]').off().remove()
                        clearMyLoading()
                        html = "<i class='fa fa-check-circle-o fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Success</span>"
                        clearMyLoading = myLoading("Success",html);
                        setTimeout(function () {
                            clearMyLoading();
                        },1200); 
                    }else{
                        clearMyLoading();
                        html = "<i class='fa fa-remove fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Failed</span>"
                        clearMyLoading = myLoading("Failed",html);
                        setTimeout(function () {
                            clearMyLoading();
                        },1200);
                    }
                })
            }
            var guestMouseOverEvent = function(){
                $(this).children('.c-r-s-panel-guests-item-delete').css({
                    right:0,
                    background:'rgba(203,203,203,.5)'
                }).on('click',deleteGuestInfo)
            }
            var guestMouseOutEvent = function(){
                $(this).children('.c-r-s-panel-guests-item-delete').css({
                    right:'-50%',
                    background:'initial'
                }).off()
            }
            const iconEventArr = [['#userInfo','#c-r-u','fa-user','fa-user-o'],
                ['#interface','#c-r-i','fa-object-ungroup','fa-object-group'],
                ['#setting','#c-r-s','fa-toggle-off','fa-toggle-on'],
                ['#data','#c-r-d','fa-bar-chart','fa-pie-chart'],
                ['#control','#c-r-c','fa-stethoscope','fa-wrench']
            ]
            const settingIconArr = [
                ['#c-r-s-guests','#c-r-s-panel-guests','fa-user-circle-o','fa-user-circle'],
                ['#c-r-s-vote','#c-r-s-panel-vote','fa-bar-chart','fa-line-chart'],
                ['#c-r-s-lottery','#c-r-s-panel-lottery','fa-gift','fa-smile-o'],
                ['#c-r-s-guests2','#c-r-s-panel-guests2','fa-user-circle-o','fa-user-circle'],
                ['#c-r-s-vote2','#c-r-s-panel-vote2','fa-bar-chart','fa-line-chart'],
                ['#c-r-s-lottery2','#c-r-s-panel-lottery2','fa-gift','fa-smile-o']
            ]
            var menuEvent = new iconEvent({
                idActiveClass: 'c-l-active',
                id_linkActiveClass: 'c-r-wrap-active',
                arr: iconEventArr
            }).iconClickBind().iconHoverBind()
            var addIconAnim = function (eleid,linkid) {
                $(eleid).parent().css({
                    'overflow-x':'hidden',
                    'position':'absolute',
                    padding:0
                }).animate({
                    opacity:'.7',
                    width:'70px',
                    right:'0'
                },1000).children().css({'font-size':'1em'})
            }
            var settingIconEvent = new iconEvent({
                arr: settingIconArr,
                idActiveClass: 'c-r-s-icon-active',
                id_linkActiveClass: 'c-r-s-panel-active',
                iconHoverBindInsertBool:false,
                extraEvent: addIconAnim
            }).iconClickBind().iconHoverBind()

            //查看、修改、添加宾客界面返回事件
            var guestsIconBackArr = [
                ['#c-r-s-panel-guests-addbtn','#c-r-s-panel-guests-addnew','',''],
                ['#c-r-s-panel-guests-panel-back','#c-r-s-panel-guests-list','','']
            ]
            var guestsIconBackEvent = new iconEvent({
                arr:guestsIconBackArr,
                idActiveClass:'c-r-s-panel-guests-active',
                id_linkActiveClass:'c-r-s-panel-guests-active',
                iconHoverBindInsertBool:false,
                activeMenu:['#c-r-s-panel-guests-list','','',''],
                extraEventRemove:function(){
                    $('#c-r-s-panel-guests-addnew-guestName').val('')
                    $('#c-r-s-panel-guests-addnew-guestTitle').val('')
                    $('#c-r-s-panel-guests-addnew-guestIntroduction').val('')
                    $('#c-r-s-panel-guests-addnew-avatar').removeAttr('data-guest-id data-imgsrc').attr({
                        src:'/static/image/avatar_default.jpg'
                    })
                }
            }).iconHoverBind().iconClickBind()

            $('#guests-flag').click(function(){
                var html = "<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i><span class='sr-only'>Saving...</span>"
                var clearMyLoading = myLoading("Saving...",html)
                var info = {
                    username: "<%= username %>",
                    flag: {}
                }
                if($(this).hasClass('fa-toggle-off')){
                    info.flag = {
                        guests:1
                    }                    
                    $.post('/api/wall/flags',info,function(res){
                        if(!!res && res != '-1'){
                            config.flags.guests = 1
                            $('#guests-flag').removeClass('fa-toggle-off').addClass('fa-toggle-on')
                            $('#c-r-s-guests').css({
                                'background-image':'linear-gradient(0,rgba(100,200,100,.5) 100%,transparent 0)'
                            })
                            clearMyLoading();
                            html = "<i class='fa fa-check-circle-o fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Success</span>"
                            clearMyLoading = myLoading("Success",html);
                            setTimeout(function () {
                                clearMyLoading();
                            },1200); 
                        }
                    })
                }else{  
                    info.flag = {
                        guests:0
                    }
                    $.post('/api/wall/flags',info,function(res){
                        if(!!res && res != '-1'){
                            config.flags.guests = 0
                            $('#guests-flag').removeClass('fa-toggle-on').addClass('fa-toggle-off')
                            $('#c-r-s-guests').css({
                                'background-image':'initial'
                            })
                            clearMyLoading();
                            html = "<i class='fa fa-check-circle-o fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Success</span>"
                            clearMyLoading = myLoading("Success",html);
                            setTimeout(function () {
                                clearMyLoading();
                            },1200); 
                        }
                    })
                }
            })

            //头像修改
            var cropboxHTML = `<div class="cropboxCloseWrap"><i class="cropboxClose">--</i><span>完成</span></div>
                <div class="imageBox">
                    <div class="thumbBox"></div>
                    <div class="spinner" style="display: none">Loading...</div>
                </div>
                <div class="imageBoxPrev">
                    <div class="imageBoxAction"> 
                        <div class="new-contentarea tc"> 
                            <a href="javascript:void(0)" class="upload-img">
                                <label for="upload-avatar">选择图像</label>
                            </a>
                            <input type="file" class="" name="upload-avatar" id="upload-avatar" />
                        </div>
                        <input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切">
                        <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
                        <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
                    </div>
                    <div class="cropped"></div>
                </div>
            </div>`
            
            $('#c-r-s-panel-guests-addnew-avatar').PopupLayer({
                content: cropboxHTML, // 内容，可以传入纯文本或类名或html
                target: "#c-r-s-panel-guests", // 把弹出层添加到的目标节点
                to: "top",   // 向哪个方向展开
                screenRatio: 0.5, // 占屏幕百分比
                blur: true, // 是否开启毛玻璃效果
                blurAreas: "#c-r-s-panel-guests-addnew",    //默认body > *
                color: "#000", // 文本颜色
                backgroundColor: "#eee", // 背景颜色
                contentToggle: false, // 点击content是否关闭弹出层
                closeBtn: '.cropboxCloseWrap',  // 指定关闭按钮
                // closeCallbackBefore: null,   //关闭前执行的函数
                // openCallback: null, // 展开的回调
                // closeCallback: null // 关闭的回调
            });
            var options ={
                thumbBox: '.thumbBox',
                spinner: '.spinner',
                imgSrc: '/static/image/1.jpg'
            }
            var avatarData = null
            var cropper = $('.imageBox').cropbox(options)
            $('#upload-avatar').on('change', function(){
                var reader = new FileReader()
                reader.onload = function(e) {
                    options.imgSrc = e.target.result
                    cropper = $('.imageBox').cropbox(options)
                }
                reader.readAsDataURL(this.files[0])
            })
            $('#btnCrop').on('click', function(){
                var img = cropper.getDataURL()
                avatarData = img
                $('.cropped').html('')
                $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>')
                $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>')
                $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>')
                $('#c-r-s-panel-guests-addnew-avatar').attr({
                    src:img
                })
                avatarData = cropper.getBlob(avatarData)
                // uploadAvatar(avatarData)
                // avatarData = null
            })
            $('#btnZoomIn').on('click', function(){
                cropper.zoomIn()
            })
            $('#btnZoomOut').on('click', function(){
                cropper.zoomOut()
            })  
            $('#c-r-s-panel-guests-panel-save').click(function(){
                var guestId = $('#c-r-s-panel-guests-addnew-avatar').attr('data-guest-id')
                if(!guestId) guestId = '<%= username %>' + new Date().getTime()
                var info = {
                    username: "<%= username %>",
                    guestId: guestId,   //username+创建日期时间戳，用于唯一标识用户
                    name: $('#c-r-s-panel-guests-addnew-guestName').val(),   //名称
                    title: $('#c-r-s-panel-guests-addnew-guestTitle').val(),  //头衔
                    introduction: $('#c-r-s-panel-guests-addnew-guestIntroduction').val(),    //介绍
                    // avatarSrc: $('#c-r-s-panel-guests-addnew-avatar').attr('src')     //头像地址
                    avatarSrc: $('#c-r-s-panel-guests-addnew-avatar').attr('data-imgsrc')   
                }
                var html = "<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i><span class='sr-only'>Loading...</span>"
                var clearMyLoading = myLoading("Saving...",html)
                var uploadAvatar = function(data){
                    if(!data) {
                        saveGuest(info)
                        return
                    }
                    var file = new FormData()
                    file.append('file',data)
                    $('#c-r-s-panel-guests-addnew-avatar').prev().css({
                        height: $('#c-r-s-panel-guests-addnew-avatar').height(),
                        opacity: '1'
                    }).children('i').css({
                        animation:'loadingBarMove 5s linear infinite'
                    })
                    var onprogress = function (evt){
                        var loaded = evt.loaded;     //已经上传大小情况 
                        var tot = evt.total;      //附件总大小 
                        var per = Math.floor(100*loaded/tot);  //已经上传的百分比 
                        $('#c-r-s-panel-guests-addnew-avatar').prev().children('i').css({
                            height: per+'%'
                        })
                    }
                    $.ajax({
                        url: '/api/wall/uploadAvatar?guestId='+info.guestId,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        data: file,
                        xhr:function(){
                            var xhr = $.ajaxSettings.xhr();
                            if(onprogress && xhr.upload) {
                                xhr.upload.addEventListener("progress" , onprogress, false);
                                return xhr;
                            }
                        },
                        success:function(res){
                            if(res !== '-1'){
                                $('#c-r-s-panel-guests-addnew-avatar').attr({'data-imgsrc':res})
                                info.avatarSrc = res
                                $('#c-r-s-panel-guests-addnew-avatar').prev().animate({
                                    opacity:0
                                },1000).children('i').css({
                                    animation:'initial'
                                })
                                $('#c-r-s-panel-guests-addnew-avatar').prev().children('i').css({
                                    height: 0
                                })
                                avatarData = null
                                saveGuest(info)
                            }else{
                                $('#c-r-s-panel-guests-addnew-avatar').prev().animate({
                                    backgroundColor:'#d9534f'
                                },1000)
                                $('#c-r-s-panel-guests-addnew-avatar').attr({src:info.avatarSrc})
                                clearMyLoading()
                                html = "<i class='fa fa-remove fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Failed</span>"
                                clearMyLoading = myLoading("Upload Avatar Failed",html);
                                setTimeout(function () {
                                    clearMyLoading();
                                },1200);
                            }
                        }
                    })
                }
                var saveGuest = function(info){
                    $.post('/api/wall/guests',info,function(data){
                        if(!data || data == '-1'){
                            //保存失败
                            clearMyLoading();
                            html = "<i class='fa fa-remove fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Failed</span>"
                            clearMyLoading = myLoading("Failed",html);
                            setTimeout(function () {
                                clearMyLoading();
                            },1200);
                        }else{
                            //保存成功
                            $('#c-r-s-panel-guests-addnew-avatar').attr({'data-guest-id':info.guestId})
                            var flag = true
                            for(var i = 0;i < config.guests.length;i++){
                                if(config.guests[i].guestId == info.guestId){
                                    Object.assign(config.guests[i],info)
                                    $('[data-guest-id="'+info.guestId+'"]').children('img').attr({
                                        src:$('#c-r-s-panel-guests-addnew-avatar').attr('src'),
                                        title:config.guests[i].name
                                    })
                                    flag = false
                                    break
                                }
                            }
                            if(flag) {
                                config.guests.push(info)
                                var html = `<div class = "c-r-s-panel-guests-item" data-guest-id="${info.guestId}"><img src="${$('#c-r-s-panel-guests-addnew-avatar').attr('src')}" title="${$('#c-r-s-panel-guests-addnew-guestName').val()}""><i class="fa fa-remove c-r-s-panel-guests-item-delete"></i></div>`
                                $('#c-r-s-panel-guests-list div:last-child').before(html).prev().on('click',showGuestInfo).on('mouseover',guestMouseOverEvent).on('mouseout',guestMouseOutEvent)
                            }
                            clearMyLoading();
                            html = "<i class='fa fa-check-circle-o fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Success</span>"
                            clearMyLoading = myLoading("Success",html);
                            setTimeout(function () {
                                clearMyLoading();
                            },1200); 
                        }
                    })
                }
                uploadAvatar(avatarData)
            })

            //查看、修改活动
            function optionsAddNew(){
                var id = Number.parseInt($(this).prev().attr('data-vote-options-id')) + 1
                var html = `
                <p data-vote-options-id="${id}">
                    选项${id}:
                    <label class="vote-options-image" title="建议上传尺寸为100*100的图片" data-imgsrc="/static/image/avatar_default.jpg">
                        <i class="fa fa-image"></i>
                        <input type="file" name="voteOptions${id}Image" style="display:none">
                    </label>
                    <input name="voteOption${id}Content">
                    <i class="fa fa-remove vote-options-delete"></i>
                </p>
                `
                $(this).before(html)
                $(this).prev().children('.vote-options-image').children('input').change(chooseOptionsImage)
            }
            function voteAddNew(){
                if($('.c-r-s-panel-vote-item-info').hasClass('c-r-s-panel-vote-item-info-active')){
                    var flag = Number.parseInt($('.c-r-s-panel-vote-item-info-active').parent('.c-r-s-panel-vote-item').attr('data-save-flag'))
                    if(!flag){
                        var f = confirm('有投票活动尚未保存，您确定离开吗?')
                        if(!f){
                            return
                        }
                    }
                }
                var id = new Date().getTime()
                var html = `
                <div class="c-r-s-panel-vote-item" data-vote-id="${id}">
                    <div class="c-r-s-panel-vote-item-header">
                        <div><span>投票主题:</span><span></span></div>
                        <div><i class="fa fa-check vote-save-btn"></i><i class="fa fa-remove vote-delete-btn"></i><i class="fa fa-toggle-off vote-switch-btn"></i></div>
                    </div>
                    <div class="c-r-s-panel-vote-item-info">
                        <div class="c-r-s-panel-vote-item-settings">
                            <p class="vote-check-btn" data-vote-flag="0">
                                <span class="vote-radio-btn">单选</span>
                                <span class="vote-options-btn">多选</span>
                            </p>
                            <p class="vote-type-btn" data-vote-flag="0">
                                <span class="vote-text-image-btn">图文</span>
                                <span class="vote-text-btn">文字</span>
                            </p>
                            <p class="vote-display-btn" data-vote-flag="0">
                                <span class="vote-show-illustration-btn">图表</span>
                                <span class="vote-show-list-btn">列表</span>                                
                            </p>
                        </div>
                        <div class="c-r-s-panel-vote-item-options">
                            <p>投票主题:<input name="voteTitle"></p>
                            <p data-vote-options-id="1">
                                选项1:
                                <label class="vote-options-image" title="建议上传尺寸为100*100的图片" data-imgsrc="/static/image/avatar_default.jpg">
                                    <i class="fa fa-image"></i>
                                    <input type="file" name="voteOptions1Image" style="display:none">
                                </label>
                                <input name="voteOption1Content">
                            </p>
                            <p data-vote-options-id="2">
                                选项2:
                                <label class="vote-options-image" title="建议上传尺寸为100*100的图片" data-imgsrc="/static/image/avatar_default.jpg">
                                    <i class="fa fa-image"></i>
                                    <input type="file" name="voteOptions2Image" style="display:none">
                                </label>
                                <input name="voteOption2Content">
                            </p>
                            <p class="vote-options-addnew fa fa-plus"></p>
                        </div>
                    </div>
                </div> 
                `
                $('.c-r-s-panel-vote-item-info-active').removeClass('c-r-s-panel-vote-item-info-active')
                $(this).before(html)
                $('.vote-options-addnew').off().on('click',optionsAddNew)
                $('.c-r-s-panel-vote-item[data-vote-id="'+id+'"]').children('.c-r-s-panel-vote-item-info').addClass('c-r-s-panel-vote-item-info-active')
                $('.c-r-s-panel-vote-item[data-vote-id="'+id+'"]').children('.c-r-s-panel-vote-item-header').on('click',voteShowInfo)
                
                var settingsItem = $('.c-r-s-panel-vote-item[data-vote-id="'+id+'"]').children('.c-r-s-panel-vote-item-info').children('.c-r-s-panel-vote-item-settings')
                settingsItem.children('.vote-check-btn').children('.vote-radio-btn').on('click',{parent:'.vote-check-btn',ps:'next'},voteBtnClick)
                settingsItem.children('.vote-check-btn').children('.vote-options-btn').on('click',{parent:'.vote-check-btn'},voteBtnClick)
                settingsItem.children('.vote-type-btn').children('.vote-text-image-btn').on('click',{parent:'.vote-type-btn',ps:'next'},voteBtnClick)
                settingsItem.children('.vote-type-btn').children('.vote-text-btn').on('click',{parent:'.vote-type-btn'},voteBtnClick)
                settingsItem.children('.vote-display-btn').children('.vote-show-illustration-btn').on('click',{parent:'.vote-display-btn',ps:'next'},voteBtnClick)
                settingsItem.children('.vote-display-btn').children('.vote-show-list-btn').on('click',{parent:'.vote-display-btn'},voteBtnClick)
                $('.c-r-s-panel-vote-item[data-vote-id="'+id+'"]').children('.c-r-s-panel-vote-item-info').children('.c-r-s-panel-vote-item-options').children('p[data-vote-options-id]').children('.vote-options-image').children('input').on('change',chooseOptionsImage)
                var headerBtn = $('.c-r-s-panel-vote-item[data-vote-id="'+id+'"]').children('.c-r-s-panel-vote-item-header').children('div').last()
                headerBtn.children('.vote-save-btn').on('click',voteSave)
                headerBtn.children('.vote-delete-btn').on('click',voteDelete)
                headerBtn.children('.vote-switch-btn').on('click',voteSwitch)
            }
            function voteShowInfo(){
                if($('.c-r-s-panel-vote-item-info').hasClass('c-r-s-panel-vote-item-info-active')){
                    var flag = Number.parseInt($('.c-r-s-panel-vote-item-info-active').parent('.c-r-s-panel-vote-item').attr('data-save-flag'))
                    if(!flag){
                        var f = confirm('有投票活动尚未保存，您确定离开吗?')
                        if(!f){
                            return
                        }
                    }
                }
                if($(this).next('.c-r-s-panel-vote-item-info').hasClass('c-r-s-panel-vote-item-info-active')){
                    $('.c-r-s-panel-vote-item-info-active').removeClass('c-r-s-panel-vote-item-info-active')
                }else{
                    $('.c-r-s-panel-vote-item-info').removeClass('c-r-s-panel-vote-item-info-active')
                    $(this).next('.c-r-s-panel-vote-item-info').addClass('c-r-s-panel-vote-item-info-active')
                }
            }
            $('.vote-options-addnew').on('click',optionsAddNew)
            $('#c-r-s-panel-vote-addbtn').on('click',voteAddNew)
            $('.c-r-s-panel-vote-item-header').on('click',voteShowInfo)

            function voteSave(e){
                e.stopPropagation()
                var voteItem = $(this).parents('.c-r-s-panel-vote-item')
                if(voteItem.attr('data-save-flag') == '1') return
                var settingsItem = voteItem.children('.c-r-s-panel-vote-item-info').children('.c-r-s-panel-vote-item-settings')
                var optionsItem = voteItem.children('.c-r-s-panel-vote-item-info').children('.c-r-s-panel-vote-item-options')
                var voteId = voteItem.attr('data-vote-id')
                var vote = {}
                var options = {}
                var settings = {}
                vote.voteId = voteId
                vote.title = optionsItem.children('p:eq(0)').children('input').val()
                if(!vote.title){
                    alert('投票主题不能为空哦')
                    return
                }
                //0：单选(default)，文字投票，列表显示    1:多选，图文投票(default)，动画显示(default)
                settings.check = settingsItem.children('.vote-check-btn').attr('data-vote-flag')
                settings.type = settingsItem.children('.vote-type-btn').attr('data-vote-flag')
                settings.display = settingsItem.children('.vote-display-btn').attr('data-vote-flag')
                console.log(settings)
                for(var i = 1;i < optionsItem.children('p[data-vote-options-id]').length + 1;i++){
                    var item = optionsItem.children('p[data-vote-options-id="'+ i +'"]')
                    var obj = {}
                    obj.id = item.attr('data-vote-options-id')
                    obj.content = item.children('input').val()
                    if(!obj.content){
                        alert('选项内容不能为空')
                        return
                    }
                    obj.imgsrc = item.children('.vote-options-image').attr('data-imgsrc')
                    options[i] = obj
                }    
                vote.settings = settings
                vote.options = options
                vote.username = "<%= username %>"
                //向服务器post数据
                var html = "<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i><span class='sr-only'>Loading...</span>"
                var clearMyLoading = myLoading("Saving...",html)
                $.post('/api/wall/votes',vote,function(res){
                    if(!!res && res != '-1'){
                        voteItem.attr({
                            'data-save-flag':'1'
                        })
                        clearMyLoading();
                        html = "<i class='fa fa-check-circle-o fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Success</span>"
                        clearMyLoading = myLoading("Success",html);
                        setTimeout(function () {
                            clearMyLoading();
                        },1200); 
                    }else{
                        voteItem.attr({
                            'data-save-flag':'0'
                        })
                        clearMyLoading();
                        html = "<i class='fa fa-remove fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Failed</span>"
                        clearMyLoading = myLoading("Failed",html);
                        setTimeout(function () {
                            clearMyLoading();
                        },1200);
                    }
                })
            }
            function voteDelete(e){
                e.stopPropagation()
                var flag = confirm('确定要删除该投票活动吗?')
                if(!flag) return
                var voteItem = $(this).parents('.c-r-s-panel-vote-item')
                var vote = {}
                vote.voteId = voteItem.attr('data-vote-id')
                vote.username = "<%= username %>"
                //向服务器发送删除请求
                var html = "<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i><span class='sr-only'>Loading...</span>"
                var clearMyLoading = myLoading("Deleting...",html)
                $.post('/api/wall/deleteVote',vote,function(res){
                    if(!!res && res != '-1'){
                        clearMyLoading();
                        html = "<i class='fa fa-check-circle-o fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Success</span>"
                        clearMyLoading = myLoading("Success",html);
                        setTimeout(function () {
                            clearMyLoading();
                        },1200); 
                        voteItem.remove()
                    }else{
                        clearMyLoading();
                        html = "<i class='fa fa-remove fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Failed</span>"
                        clearMyLoading = myLoading("Failed",html);
                        setTimeout(function () {
                            clearMyLoading();
                        },1200);
                    }
                })
            }

            function voteSwitch(e){
                e.stopPropagation()
                var voteItem = $(this).parents('.c-r-s-panel-vote-item')
                var vote = {}
                vote.voteId = voteItem.attr('data-vote-id')
                vote.username = "<%= username %>"        
                if($(this).hasClass('fa-toggle-off')){
                    var flag = confirm('确定在主屏幕上开启该投票活动吗')
                    if(!flag) return
                    var html = "<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i><span class='sr-only'>Loading...</span>"
                    var clearMyLoading = myLoading("Switching...",html)
                    vote.type = '1'
                    $.post('/api/wall/switchVote',vote,function(res){
                        if(!!res && res != '-1'){
                            clearMyLoading();
                            html = "<i class='fa fa-check-circle-o fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Success</span>"
                            clearMyLoading = myLoading("Success",html);
                            setTimeout(function () {
                                clearMyLoading();
                            },1200); 
                            $('.vote-open-btn').removeClass('fa-toggle-on').addClass('fa-toggle-off')
                            $('.c-r-s-panel-vote-item[data-open-flag="1"]').removeAttr('data-open-flag')
                            voteItem.attr({
                                'data-open-flag':'1'
                            })
                            $(this).removeClass('fa-toggle-off').addClass('fa-toggle-on')
                        }else{
                            clearMyLoading();
                            html = "<i class='fa fa-remove fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Failed</span>"
                            clearMyLoading = myLoading("Failed",html);
                            setTimeout(function () {
                                clearMyLoading();
                            },1200);
                        }
                    })
                }else{
                    var flag = confirm('确定在主屏幕上关闭该投票活动吗')
                    if(!flag) return
                    var html = "<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i><span class='sr-only'>Loading...</span>"
                    var clearMyLoading = myLoading("Switching...",html)
                    vote.type = '0'
                    $.post('/api/wall/switchVote',vote,function(res){
                        if(!!res && res != '-1'){
                            clearMyLoading();
                            html = "<i class='fa fa-check-circle-o fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Success</span>"
                            clearMyLoading = myLoading("Success",html);
                            setTimeout(function () {
                                clearMyLoading();
                            },1200); 
                            voteItem.attr({
                                'data-open-flag':'0'
                            })
                            $(this).removeClass('fa-toggle-on').addClass('fa-toggle-off')
                        }else{
                            clearMyLoading();
                            html = "<i class='fa fa-remove fa-4x fa-fw' style='color: #00EE00'></i><span class='sr-only'>Failed</span>"
                            clearMyLoading = myLoading("Failed",html);
                            setTimeout(function () {
                                clearMyLoading();
                            },1200);
                        }
                    })
                }
            }

            $('.vote-save-btn').on('click',voteSave)
            $('.vote-delete-btn').on('click',voteDelete)
            $('.vote-switch-btn').on('click',voteSwitch)
            
            function voteBtnClick(event){
                parent = event.data.parent
                ps = event.data.ps || ''
                var flag = Number.parseInt($(this).parent(parent).attr('data-vote-flag'))
                if(!flag && !!$(this).next().html() || !!flag && !!$(this).prev().html()) return
                
                if($(this).hasClass('vote-text-image-btn')){
                    $(this).parents('.c-r-s-panel-vote-item-info').children('.c-r-s-panel-vote-item-options').children('p[data-vote-options-id]').children('.vote-options-image').show(200)
                }else if($(this).hasClass('vote-text-btn')){
                    $(this).parents('.c-r-s-panel-vote-item-info').children('.c-r-s-panel-vote-item-options').children('p[data-vote-options-id]').children('.vote-options-image').hide(200)                    
                }
                
                $(this).css({
                    flex:'7',
                    'background-color':'rgba(30,200,30,.7)'
                })
                if(ps == 'next'){
                    $(this).next().css({
                        flex:'3',
                        'background-color':'initial'
                    })
                    $(this).parent(parent).attr({
                       'data-vote-flag':'0'
                    })
                }else{
                    $(this).prev().css({
                        flex:'3',
                        'background-color':'initial'
                    })
                    $(this).parent(parent).attr({
                        'data-vote-flag':'1'
                    })
                }
            }

            $('.vote-radio-btn').on('click',{parent:'.vote-check-btn',ps:'next'},voteBtnClick)
            $('.vote-options-btn').on('click',{parent:'.vote-check-btn'},voteBtnClick)
            $('.vote-text-image-btn').on('click',{parent:'.vote-type-btn',ps:'next'},voteBtnClick)
            $('.vote-text-btn').on('click',{parent:'.vote-type-btn'},voteBtnClick)
            $('.vote-show-illustration-btn').on('click',{parent:'.vote-display-btn',ps:'next'},voteBtnClick)
            $('.vote-show-list-btn').on('click',{parent:'.vote-display-btn'},voteBtnClick)

            $('.vote-options-image').children('input').change(chooseOptionsImage)
            function chooseOptionsImage(){
                var that = $(this)
                var reader = new FileReader()
                reader.onload = function(e) {
                    var image = new Image()
                    image.src = e.target.result
                    image.onload = function(){
                        var dataUrl = imageHandle.getDataURL(100,100,image)
                        that.prev().remove()
                        that.before('<img src="'+dataUrl+'" width="30px" height="30px" >')
                        var blob = imageHandle.getBlob(dataUrl)
                        var voteId = that.parents('.c-r-s-panel-vote-item').attr('data-vote-id')
                        var optionsId = voteId + '_' + that.parent().parent('p').attr('data-vote-options-id')
                        var uploadImage = function(data){
                            if(!data) return
                            var file = new FormData()
                            file.append('file',blob)
                            var onprogress = function (evt){
                                var loaded = evt.loaded;     //已经上传大小情况 
                                var tot = evt.total;      //附件总大小 
                                var per = Math.floor(100*loaded/tot);  //已经上传的百分比 
                                that.parent().after('<i style="transition:all .5s;width:10px;height:0;align-self:flex-end;background:rgba(20,200,20,.3)"></i>')
                                that.parent().next('i').css({
                                    height: Math.floor(per/100*35)
                                })
                            }
                            $.ajax({
                                url: '/api/wall/optionsImage?optionsId='+optionsId,
                                type: 'POST',
                                contentType: false,
                                processData: false,
                                data: file,
                                xhr:function(){
                                    var xhr = $.ajaxSettings.xhr();
                                    if(onprogress && xhr.upload) {
                                        xhr.upload.addEventListener("progress" , onprogress, false);
                                        return xhr;
                                    }
                                },
                                success:function(res){
                                    if(!res || res == '-1'){
                                        that.prev('img').parent().attr({
                                            'data-imgSrc':'/static/image/avatar_default.jpg'
                                        })
                                        that.parent().next('i').remove()
                                    }else{
                                        that.parent().next('i').remove()
                                        that.prev('img').parent().attr({
                                            'data-imgSrc':res
                                        })
                                    }
                                }
                            })
                        }
                        uploadImage(blob)
                    }
                }
                reader.readAsDataURL(this.files[0])
            }  
        })
    </script>
</head>
<body>
<div class="container">
    <div class="c-l">
        <header class="c-l-tile">
            <img src="/static/image/logo.png">
            <br>
            <span>welcome <%= username %> to HI-FI</span>
            <br>
            <a href="./wall/screen" style="color: #eeeeee;border-radius: 1em;background: #31b0d5;text-decoration: none;padding: 2px 5px;display: block;width: 40px;margin: 5px auto">启动</a>
            <div></div>
        </header>
        <div id="userInfo">
            <span>
                UserInfo<i class="fa fa-user" aria-hidden="true"></i>
            </span>
        </div>
        <div id="interface">
            <span>
                界面设计<i class="fa fa-object-ungroup" aria-hidden="true"></i>
            </span>
        </div>
        <div id="setting">
            <span>
                功能选择<i class="fa fa-toggle-off" aria-hidden="true"></i>
            </span>
        </div>
        <div id="data">
            <span>
                活动数据<i class="fa fa-bar-chart" aria-hidden="true"></i>
            </span>
        </div>
        <div id="control">
            <span>
            活动监控<i class="fa fa-stethoscope" aria-hidden="true"></i>
            </span>
        </div>
    </div>
    <div class="c-r">
        <div class="c-r-wrap">
            <div id="c-r-u">
                <header><i class="fa fa-cog fa-spin"></i>用户信息</header>
                <div>
                    <header>
                        <img src="/static/image/u_logo.ico" id="QRSrc">
                        <p>LOGO</p>
                    </header>
                    <div>
                        <p><span>username:</span><span><%= username %></span></p>
                        <p><span>other information:</span><span>Hi</span></p>
                        <p><span>other information:</span><span>Hello</span></p>
                        <p><span>other information:</span><span>yeah!</span></p>
                        <p><span>shortcut:</span></p>
                    </div>
                </div>
            </div>
            <div id="c-r-i"></div>
            <div id="c-r-s">
                <div id="c-r-s-wrap">
                    <div id="c-r-s-guests">
                        <i class="fa fa-user-circle-o"></i>
                        <span>来宾</span>
                    </div>
                    <div id="c-r-s-vote">
                        <i class="fa fa-bar-chart"></i>
                        <span>投票</span>
                    </div>
                    <div id="c-r-s-lottery">
                        <i class="fa fa-gift"></i>
                        <span>彩蛋</span>
                    </div>
                    <div id="c-r-s-guests2">
                        <i class="fa fa-user-circle-o"></i>
                        <span>other</span>
                    </div>
                    <div id="c-r-s-vote2">
                        <i class="fa fa-bar-chart"></i>
                        <span>other</span>
                    </div>
                    <div id="c-r-s-lottery2">
                        <i class="fa fa-gift"></i>
                        <span>other</span>
                    </div>
                </div>
                <div id="c-r-s-panel-guests" class="c-r-s-panel">
                    <header><i class="fa fa-toggle-off" id="guests-flag"></i>来宾设置</header>
                    <div id="c-r-s-panel-guests-list" class="c-r-s-panel-guests-active">
                        <div id="c-r-s-panel-guests-addbtn">
                            <img src="/static/image/add_icon.ico" title="添加">
                        </div>
                    </div>
                    <div id="c-r-s-panel-guests-addnew">
                        <p><span class="loadingBar"><i></i></span><img src="/static/image/avatar_default.jpg" id="c-r-s-panel-guests-addnew-avatar" title="更换头像"></p>
                        <p><span>名称:</span><input name="guestName" id="c-r-s-panel-guests-addnew-guestName"></p>
                        <p><span>头衔:</span><input name="guestTitle" id="c-r-s-panel-guests-addnew-guestTitle"></p>
                        <p><span>介绍:</span><textarea name="guestIntroduction" rows="5" id="c-r-s-panel-guests-addnew-guestIntroduction"></textarea></p>
                        <p>
                            <span id="c-r-s-panel-guests-panel-save" style="color: #eeeeee;border-radius: 1em;background: #31b0d5;padding: 2px 5px;display: block;cursor:pointer;">保存</span>
                            <span id="c-r-s-panel-guests-panel-back" style="color: #eeeeee;border-radius: 1em;background: #31b0d5;padding: 2px 5px;display: block;margin-left: 5px;cursor:pointer;">返回</span>
                        </p>
                    </div>
                </div>
                <div id="c-r-s-panel-vote" class="c-r-s-panel">
                    <header><i class="fa fa-toggle-off"></i>投票设置</header>
                    <div id="c-r-s-panel-vote-list">
                        <div id="c-r-s-panel-vote-addbtn">
                            <img src="/static/image/add_icon.ico" title="添加">
                        </div>
                    </div>
                </div>
                <div id="c-r-s-panel-lottery" class="c-r-s-panel">
                    <header><i class="fa fa-toggle-off"></i>彩蛋设置</header>
                    <div>

                    </div>
                </div>
                <div id="c-r-s-panel-guests2" class="c-r-s-panel"></div>
                <div id="c-r-s-panel-vote2" class="c-r-s-panel"></div>
                <div id="c-r-s-panel-lottery2" class="c-r-s-panel"></div>
            </div>
            <div id="c-r-d">

            </div>
            <div id="c-r-c">

            </div>
        </div>
    </div>
</div>
</body>
</html>