<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/css/screen.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/plus/css/carousel.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <title>screen</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/myUtils.js"></script>
    <script src="/static/js/myLoading.js"></script>
    <script src="/static/plus/js/animatext.js"></script>
    <style>
        .slider__text-item-head h3{
            display: flex;
            padding: 10px;
        }
        .slider__text-item-head-img{
            border-radius:50%;
            height: 100%;
            max-height:80px;
            max-width:80px;
        }
        .slider__images-item--active {
            animation: imgAnimate 10s linear alternate;
        }
        @keyframes imgAnimate{
            0%{
                width: calc(100% + 1em * 2);
                height: calc(100% + 0em * 2);
            }
            50%{
                width: calc(100% + 2em * 2);
                height: calc(100% + 10em * 2);
            }
            100%{
                width: calc(100% + 1em * 2);
                height: calc(100% + 1em * 2);
            }
        }
        .alertGuestsInfoPanel{
            display:flex;
            flex-direction:column;
            justify-content:space-around;
            align-items:center;
        }
        #logoQR{
            transition: height 1s;
        }

        .long-shadow, .medium-shadow {
		    border: none;
		    -o-text-overflow: clip;
		    text-overflow: clip;
		}
		.long-shadow {
		    -webkit-box-sizing: content-box;
		    -moz-box-sizing: content-box;
		    box-sizing: content-box;
		    text-shadow: 3px 3px 0 #4C6A92, 4px 4px 0 #4C6A92, 5px 5px 0 #4C6A92, 6px 6px 0 #4C6A92;
            white-space: nowrap;
            overflow: hidden;
        }
		.long-shadow .animateTitle {
		    font-size: 2em;
		    letter-spacing: 2.7vh;
		    color: #FFF;
            padding: 1em 0;
            margin-left: 0;
		}
    </style>
</head>
<body>
    <!--背景绘制-->
    <div id="background" style="position: absolute;left: 0;right: 0;top: 0;bottom: 0;"></div>
    <script src="/static/js/jquery-starfield.js"></script>
    <div id="app">
        <!--墙-->
        <div class="wall">
            <div class="wallHd">
                <p><img src="/static/image/logo.png" id="logoQR"></p>
                <p class="long-shadow">
                    <span class="animateTitle">HIFI ACTIVITY HELPER</span>
                </p>
                <p>消息数量({{ liveSubtitleData.length }})</p>
            </div>
            <div class="wallCon">
                <div id="w-message" class="wallCon-active">
                    <component :is="messageCurrentView" v-for="msg in currentArr" :msg="msg"></component>
                    <!-- <message-show v-for="msg in messageArr" :msg="msg"></message-show> -->
                </div>
                <div id="w-image" v-on:click="imageClickDispatch">
                    <div class="slider" id="slider" style="--img-prev:url(/static/image/message/6DPsQyJviLDVd1T_Ee2YbJ4-yKdl_fj8iL_sqyxT8xaOn-7WdqFKW7L7cvPMyEk3.jpg)"> 
                        <div class="slider__content" id="slider-content">
                            <div class="slider__images">
                                <div class="slider__images-item slider__images-item--active" data-id="1"><img src="/static/image/message/6DPsQyJviLDVd1T_Ee2YbJ4-yKdl_fj8iL_sqyxT8xaOn-7WdqFKW7L7cvPMyEk3.jpg" class="slider__images-item-img"/></div>
                                <image-show v-for="(msg,index) in imageData" :msg="msg" :index="index" :data-id="index + 2"></image-show>
                            </div>
                            <div class="slider__text">
                                <div class="slider__text-item slider__text-item--active" data-id="1">
                                    <div class="slider__text-item-head">
                                        <h3>HIFI HERE</h3>
                                    </div>
                                    <div class="slider__text-item-info">
                                    <p>WELCOME!!</p>
                                    </div>
                                </div>
                                <image-info-show v-for="(msg,index) in imageData" :msg="msg" :index="index" :data-id="index + 2"></image-info-show>
                            </div>
                        </div>
                        <div class="slider__nav">
                            <div class="slider__nav-arrows">
                                <div class="slider__nav-arrow slider__nav-arrow--left" id="left">to left</div>
                                <div class="slider__nav-arrow slider__nav-arrow--right" id="right">to right</div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div id="w-guests"></div>
                <div id="w-vote">
                    <div class="leaderboard">
                        <header>
                            <img src="/static/image/vote.svg" style="width:25px;height:25px;">
                            {{ activeVote.title }}
                        </header>
                        <ol>
                            <vote-show v-for="vote in voteOptions" :vote="vote"></vote-show>
                        </ol>
                    </div>
                    <div class="leaderboard">
                        <header>
                            <svg class="ico-cup">
                                <use xlink:href="#cup"></use>
                            </svg>
                            {{ activeVote.title }}
                        </header>
                        <ol>
                            <vote-show v-for="vote in maxVoteOptions" :vote="vote"></vote-show>
                        </ol>
                    </div>
                    <svg style="display: none;">
                        <symbol id="cup" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve">
                        <path fill="#F26856" d="M21.215,1.428c-0.744,0-1.438,0.213-2.024,0.579V0.865c0-0.478-0.394-0.865-0.88-0.865H6.69
                            C6.204,0,5.81,0.387,5.81,0.865v1.142C5.224,1.641,4.53,1.428,3.785,1.428C1.698,1.428,0,3.097,0,5.148
                            C0,7.2,1.698,8.869,3.785,8.869h1.453c0.315,0,0.572,0.252,0.572,0.562c0,0.311-0.257,0.563-0.572,0.563
                            c-0.486,0-0.88,0.388-0.88,0.865c0,0.478,0.395,0.865,0.88,0.865c0.421,0,0.816-0.111,1.158-0.303
                            c0.318,0.865,0.761,1.647,1.318,2.31c0.686,0.814,1.515,1.425,2.433,1.808c-0.04,0.487-0.154,1.349-0.481,2.191
                            c-0.591,1.519-1.564,2.257-2.975,2.257H5.238c-0.486,0-0.88,0.388-0.88,0.865v4.283c0,0.478,0.395,0.865,0.88,0.865h14.525
                            c0.485,0,0.88-0.388,0.88-0.865v-4.283c0-0.478-0.395-0.865-0.88-0.865h-1.452c-1.411,0-2.385-0.738-2.975-2.257
                            c-0.328-0.843-0.441-1.704-0.482-2.191c0.918-0.383,1.748-0.993,2.434-1.808c0.557-0.663,1-1.445,1.318-2.31
                            c0.342,0.192,0.736,0.303,1.157,0.303c0.486,0,0.88-0.387,0.88-0.865c0-0.478-0.394-0.865-0.88-0.865
                            c-0.315,0-0.572-0.252-0.572-0.563c0-0.31,0.257-0.562,0.572-0.562h1.452C23.303,8.869,25,7.2,25,5.148
                            C25,3.097,23.303,1.428,21.215,1.428z M5.238,7.138H3.785c-1.116,0-2.024-0.893-2.024-1.99c0-1.097,0.908-1.99,2.024-1.99
                            c1.117,0,2.025,0.893,2.025,1.99v2.06C5.627,7.163,5.435,7.138,5.238,7.138z M18.883,21.717v2.553H6.118v-2.553H18.883
                            L18.883,21.717z M13.673,18.301c0.248,0.65,0.566,1.214,0.947,1.686h-4.24c0.381-0.472,0.699-1.035,0.947-1.686
                            c0.33-0.865,0.479-1.723,0.545-2.327c0.207,0.021,0.416,0.033,0.627,0.033c0.211,0,0.42-0.013,0.627-0.033
                            C13.195,16.578,13.344,17.436,13.673,18.301z M12.5,14.276c-2.856,0-4.93-2.638-4.93-6.273V1.73h9.859v6.273
                            C17.43,11.638,15.357,14.276,12.5,14.276z M21.215,7.138h-1.452c-0.197,0-0.39,0.024-0.572,0.07v-2.06
                            c0-1.097,0.908-1.99,2.024-1.99c1.117,0,2.025,0.893,2.025,1.99C23.241,6.246,22.333,7.138,21.215,7.138z"></path>
                            </symbol>
                        </svg>
                </div>
                <div id="w-lottery"></div>
            </div>
            <div class="wallCtr">
                <!--此处应可修改info信息和显示效果-->
                <div id="w-ctr-info"></div>
                <span><i class="fa fa-chevron-circle-up"></i></span>
                <div id="w-ctr-btn">
                    <div id="btn-subtitle"><i class="fa fa-microphone" aria-hidden="true"></i>弹幕</div>
                    <div id="btn-message"><i class="fa fa-commenting-o" aria-hidden="true"></i>消息</div>
                    <div id="btn-image"><i class="fa fa-image" aria-hidden="true"></i>图片</div>
                    <div id="btn-guests"><i class="fa fa-user-circle-o" aria-hidden="true"></i>来宾</div>
                    <div id="btn-vote"><i class="fa fa-bar-chart" aria-hidden="true"></i>投票</div>
                    <div id="btn-lottery"><i class="fa fa-gift" aria-hidden="true"></i>彩蛋</div>
                </div>
            </div>
        </div>
        <!--弹幕-->
        <div id="liveSubtitle" v-if="liveSubtitleSeen">
            <live-subtitle v-for="(msg,key) in liveSubtitleArr" :msg="msg" :id="'liveSubtitle-'+key" :style="'top:'+ msg.cssTop +'px;animation-delay:'+ msg.cssAnimationDelay +'s;'"></live-subtitle>
        </div> 
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/vue.js"></script>
    <script type="text/x-template" id="message-template">
        <div>
            <!--此处应可设置用户头像显示的方式，默认方形-->
            <header><img :src="msg.headimgurl"></header>
            <div>
                <span>{{ msg.from }}</span>
                <span v-html="msg.content">{{ msg.content }}</span>
            </div>
            <footer><i class="fa fa-hand-o-right"></i></footer>
        </div>
    </script>
    <script type="text/x-template" id="one-message-template">    
    </script>
    <script type="text/x-template" id="image-template">
        <div class="slider__images-item"><img :src="msg.mediaId" class="slider__images-item-img"/></div>
    </script>
    <script type="text/x-template" id="image-info-template">
        <div class="slider__text-item">
            <div class="slider__text-item-head">
                <h3><img :src="msg.headimgurl" class="slider__text-item-head-img"/></h3>
            </div>
            <div class="slider__text-item-info">
            <p>{{msg.from}} | {{msg.sex}} | {{msg.province}}</p>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="vote-template">
        <li>
            <i><img :src="vote.imgsrc"></i>
            <mark>{{ vote.content }}</mark>
            <small>{{ vote.count || 0 }}</small>
        </li>
    </script>
    <script>
        //初始化加载设置
        const config = {
            guests: [],
            activeVote: {}
        }   
        Vue.component('live-subtitle',{
            template:'<div style="overflow:visible;"><img :src="msg.headimgurl" style="margin-left:-5px;margin-right:5px;width:40px;height:40px;" ><span v-html="msg.content">{{ msg.content }}</span></div>',
            props:['msg']
        })
        Vue.component('message-show',{
            template:'#message-template',
            props:['msg','currentArr']
        })
        Vue.component('image-show',{
            template:"#image-template",
            props:['msg','index']
        })
        Vue.component('image-info-show',{
            template:"#image-info-template",
            props:['msg','index']
        })
        Vue.component('vote-show',{
            template:'#vote-template',
            props:['vote']
        })
        var vm = new Vue({
            el:'#app',
            data:{
                liveSubtitleData:[],
                imageData:[],
                liveSubtitleArr:[],
                liveSubtitleCount:0,
                messageArr:[],
                messageCount:0,
                messageCurrentView:undefined,
                currentArr:[],
                activeVote:{},
                voteOptions:[],
                maxVoteOptions:[],
                liveSubtitleSeen:false,
                intervalGetSubtitleTimer:undefined,
                intervalMoveTimer:undefined,
                intervalChangeTimer:undefined,
                intervalGetMessageTimer:undefined,
                host:window.location.host
            },
            watch: {
                liveSubtitleArr: function (newarr) {
                    if (newarr.length >= 21) this.liveSubtitleArr.splice(0, 5)
                },
                messageArr:function (newarr) {
                    if(newarr.length > 5) this.messageArr.splice(0,5)
                },
                liveSubtitleSeen:function (newval,oldval) {
                    if(newval){
                        this.intervalGetSubtitle()
                        //间隔15秒拉取一次数据显示在屏幕上
                        this.intervalGetSubtitleTimer = setInterval(this.intervalGetSubtitle,15*1000)
                        this.intervalMoveTimer = setInterval(this.intervalMove,30*1000)
                        this.intervalChangeTimer = setInterval(this.intervalChange,60*1000)
                    }else{
                        clearInterval(this.intervalChangeTimer)
                        clearInterval(this.intervalMoveTimer)
                        clearInterval(this.intervalGetSubtitleTimer)
                    }

                },
                messageCurrentView:function(newval,oldval){
                    if(newval == "message-show"){
                        vm.currentArr=vm.messageArr
                    }else if(newval == "one-message-show"){
                        vm.currentArr=[]
                    }
                },
                activeVote:function(newval){
                    var arr = []
                    for(var i = 0;i < newval.options.length;i++){
                        var t = {}
                        Object.assign(t,newval.options[i])
                        if(!newval.options[i].count) t.count = 0
                        arr.push(t)
                    }
                    arr.sort(function(a,b){
                        return (parseInt(b.count) - parseInt(a.count))
                    })
                    this.voteOptions = arr;
                    this.maxVoteOptions = this.voteOptions.slice(0,5)
                }
            },
            methods:{
                imageClickDispatch:function(){
                    this.$emit('imageClickDispatch')
                },
                randomValue:function (times) {
                    times = times || 1
                    return Math.floor(Math.random() * 10 + 1) * times
                },
                intervalGetSubtitle:function () {
                    var count = 0;
                    vm.liveSubtitleData.forEach(function (msg,index) {
                        if(index >= vm.liveSubtitleCount && index < vm.liveSubtitleCount + 5) {
                            msg.cssTop = vm.randomValue(60)
                            msg.cssAnimationDelay = vm.randomValue()
                            vm.liveSubtitleArr.push(msg)
                            count++;
                        }
                    })
                    vm.liveSubtitleCount += count
                },
                intervalGetMessage:function () {
                    vm.liveSubtitleData.forEach(function (msg,index) {
                        if(index >= vm.messageCount && index < vm.messageCount + 5) {
                            vm.messageArr.push(msg)
                            vm.messageCount ++
                        }
                    })
                },
                intervalMove:function () {
                    var p = []
                    vm.liveSubtitleArr.forEach(function (msg) {
                        p.push(msg.cssTop)
                    })
                    p.sort(function () {
                        return 0.5 - Math.random()
                    })
                    vm.liveSubtitleArr.forEach(function (msg,index) {
                        msg.cssTop = p[index]
                    })
                },
                intervalChange:function () {
                    vm.liveSubtitleArr.forEach(function (msg,index) {
                        msg.cssTop = vm.randomValue(60)
                    })
                }
            }
        })
        setInterval(vm.intervalGetMessage,15*1000)

        //初始化拉取数据
        $.get("/api/allChat/getMessage", {
                "page": 0,
                "origin": window.location.href
            }, function(data){
                if(data == "-1" || data.length <= 0){
                    console.log('[初始化数据:数据库为空]')
                }else{
                    data.forEach(function(item){
                        //判断是图片还是消息
                    if(!!item.MsgType&&item.MsgType=="image"){
                        vm.imageData.push(item)
                        console.info("[新图片入库]")
                    }else{
                        vm.liveSubtitleData.push(item)
                        console.info("[新消息入库]")
                    }
                })
                    vm.liveSubtitleSeen = true
                    vm.intervalGetMessage()
                    vm.intervalGetSubtitle()
                    vm.messageCurrentView = "message-show"
                }
            })

        var liveIo = io('/allChat')
        liveIo.on("connect",function () {
            liveIo.emit("notification",{from:"<%= username %>",content:"wall screen of <%= username %> connection", username:"<%= username %>" })
        })
        liveIo.on("notification",function (msg) {
            console.log(msg.content)
        })
        liveIo.on("public_message",function(msg){
            //接受的消息暂存于liveSubtitleData中，分批读取入liveSubtitleArr
            //最大存储100条消息(其他方案:存放在数据库中，定时拉取)
            if(vm.liveSubtitleData.length > 100){
                vm.liveSubtitleData.splice(0,10)
            }
            //判断是图片还是消息
            if(!!msg.MsgType&&msg.MsgType=="image"){
                vm.imageData.push(msg)
                console.info("[新图片入库]")
            }else{
                vm.liveSubtitleData.push(msg)
                console.info("[新消息入库]")
            }
            if(vm.liveSubtitleArr.length < 5) {
                vm.intervalGetSubtitle()
                vm.intervalGetMessage()
            }
        })
        var liveSubtitleIconArr = [
            ['#btn-subtitle','#liveSubtitle','fa-microphone','fa-microphone-slash']
        ]
        new iconEvent({
            arr:liveSubtitleIconArr,
            iconEventBan: false,
            activeMenu:['#btn-subtitle','#liveSubtitle','fa-microphone-slash','fa-microphone'],
            extraEvent:function (id,id_link,that) {
                $(id).off()
                var idx = 0
                this.arr.forEach(function (item,index) {
                    if(item[0] == id) {
                        idx = index
                        return
                    }
                })
                var tmp = this.arr[idx][3]
                this.arr[idx][3] = this.arr[idx][4]
                this.arr[idx][4] = tmp
                var active = this.arr[idx]
                this.arr = []
                this.arr.push(active)
                that.iconClickBind()
                that.iconHoverBind()
                vm.liveSubtitleSeen = !vm.liveSubtitleSeen
            }
        }).iconClickBind().iconHoverBind()

        var animateTitleTimer = null
        var animateTitleBegin = function () {
            var that = this
            $('.animateTitle').css({
                'margin-left': $('.animateTitle').parent().width()
            })
            animateTitleTimer = setInterval(function () {
                var an = $('.animateTitle'),
                    marginOffset = Math.floor(parseInt(an.css('margin-left'))),
                    width = Math.floor(an.width()) + $('.animateTitle').parent().width()
                // console.log(marginOffset + " " + width)
                if (marginOffset < -width) {
                    $('.animateTitle').html('HIFI ACTIVITY HELPER').css({ 'margin': '0 auto' })
                    clearInterval(animateTitleTimer)
                } else {
                    $('.animateTitle').css({
                        'margin-left': marginOffset - 11
                    })
                }
            }, 100);
        }
        $('.animateTitle').animatext({
            speed: 500,
            effect: 'flipInY',
            reverse: false,
        })

        liveIo.on("host",function (msg) {
            if(!msg) return
            console.log("[新广播通知]")
            clearInterval(animateTitleTimer)
            $('.animateTitle').html(msg.content)
            $('.animateTitle').animatext({
                    speed: 500,
                    effect: 'flipInY',
                    reverse: false,
                    loopTimes: msg.loopTimes,
                    timeToRelaunch: 10000,
                    onBegin: animateTitleBegin,
                    onSuccess: function () {
                        setTimeout(function () {
                            clearInterval(animateTitleTimer)
                        },8000)
                        if (this.loopTimes > 1) {
                            setTimeout(function () {
                                animateTitleBegin()
                            }, 10000);
                        } else {
                            setTimeout(function () {
                                $('.animateTitle').html('HIFI ACTIVITY HELPER').css({ 'margin': '0 auto' })
                                $('.animateTitle').animatext({
                                    speed: 500,
                                    effect: 'flipInY',
                                    reverse: false,
                                })   
                            },10000)
                        }
                    }
                })
        })

        liveIo.on("guest",function(info){
            if(!info) return
            if(info.type == "-1"){
                console.log("[删除来宾"+info.guestId+"]")
                offGuestsCarousel()
                var carousels = document.querySelectorAll('.guestsCarousel')
                for (var i = 0; i < carousels.length; i++) {
                    var figure = carousels[i].querySelector('figure')
                    var ele = $(figure).children('[data-guest-id="'+info.guestId+'"]')
                    ele.next().remove()
                    ele.remove()
                    bindGuestsCarousel()
                }
            }else if(info.type == "1"){
                console.log("[修改来宾信息"+info.guestId+"]")
                offGuestsCarousel()
                var carousels = document.querySelectorAll('.guestsCarousel')
                for (var i = 0; i < carousels.length; i++) {
                    var figure = carousels[i].querySelector('figure')
                    var ele = figure.querySelector('[data-guest-id="'+info.guestId+'"]')
                    html = `<img src="${info.avatarSrc}" alt="${info.name}" title="${info.name}" data-content="${info.introduction}" data-title="${info.title}" data-guest-id="${info.guestId}"><i><span>Name:${info.name}</span><span>${info.title}</span></i>`                     
                    console.log(ele)
                    if(!!ele){
                        var next = $(ele).next()
                        $(ele).remove()
                        next.before(html)
                    }else{
                        $(figure).append(html)
                    }
                    bindGuestsCarousel()
                }
            }
            
        })

        liveIo.on("vote",function(info){
            if(!!info && info.res instanceof Array){
                for(var i = 0;i < info.res.length;i++){
                    var temp = {}
                    Object.assign(temp,vm.activeVote)
                    for(var i = 0;i < temp.options.length;i++){
                        if(temp.options[i].id == info.res[i].id){
                            temp.options[i].count = info.res[i].count
                        }
                    }
                    vm.activeVote = temp
                }
            } 
        })

        //初始化拉取投票数据
        $.get('/api/wall/activeVote?username=<%= username %>',function(data){
            if(!!data && data != "-1"){
                vm.activeVote = data
                console.log(vm.activeVote)
            }else{
                console.log("暂未开启投票")
            }
        })
    </script>
    
    <script>
        $(function ($) {
            $("#background").starfield({
                starDensity: 0.5,
                mouseScale: 1,
                seedMovement: false,
                BOUNDX: 1000,
                BOUNDY: 500
            })
            var iconEventArr = [
                ['#btn-message','#w-message','fa-commenting','fa-commenting-o'],
                ['#btn-image','#w-image','fa-image','fa-photo'],
                ['#btn-guests','#w-guests','fa-user-circle-o','fa-user-circle'],
                ['#btn-lottery','#w-lottery','fa-gift','fa-smile-o'],
                ['#btn-vote','#w-vote','fa-bar-chart','fa-line-chart']
            ]
            var menuEvent = new iconEvent({
                id_linkActiveClass: 'wallCon-active',
                activeMenu:['#btn-message','#w-message','fa-commenting-o','fa-commenting'],
                arr: iconEventArr,
                extraEvent:function(id,id_link,that){
                    if(id_link == "#w-image"){
                        //设计时可以做判断是否需要全屏显示
                        $("#w-image").css({
                            position:'absolute',
                        }).animate({
                            left:'-100px',
                            right:'-100px',
                            top:'0',
                            bottom:'0'
                        },1000)
                        slideTimer = setTimeout(autoSlide,5000)
                    }else if(!!slideTimer){
                        clearTimeout(slideTimer)
                        $("#w-image").css({
                            position:'initial',
                            left:'initial',
                            right:'initial',
                            top:'initial',
                            bottom:'initial'
                        })
                    }
                }
            })
            //为每个消息绑定事件
            menuEvent.iconHoverBind().iconClickBind()
            
            //消息显示状态下定时显示图片
            var intervalImageFlag = false
            var intervalImageHidden = function(){
                if(intervalImageFlag){
                        if('#w-image' == menuEvent.settings.activeMenu[1]){
                            intervalImageFlag = false
                        }else if('#w-guests' == menuEvent.settings.activeMenu[1] || '#w-lottery' == menuEvent.settings.activeMenu[1] || '#w-vote' == menuEvent.settings.activeMenu[1]){
                            intervalImageFlag = false
                            $("#w-image").removeClass('wallCon-active')
                        }
                        else if(slider.inTransit){
                            setTimeout(intervalImageHidden,5000)
                            return
                        }else{
                            $("#w-message").addClass('wallCon-active')
                            $("#w-image").removeClass('wallCon-active')
                            intervalImageFlag = false
                        }
                    }
                setTimeout(intervalImageShow,10000)
            }
            var intervalImageShow = function(){
                if($("#w-message").hasClass('wallCon-active')){
                    $("#w-message").removeClass('wallCon-active')
                    $("#w-image").addClass('wallCon-active')
                    intervalImageFlag = true
                }
                setTimeout(intervalImageHidden,5000)
            }
            setTimeout(intervalImageShow,6000);  
        })
    </script>
    <script src="/static/plus/js/carousel.js"></script>
    <script>
        $(function($){
            $.get('/api/wall/guests?username=<%= username %>',function(data){
                if(data != '-1' && data instanceof Array) {
                    config.guests = data
                    var html = `<div class="guestsCarousel" data-gap="80"><figure><img src="/static/image/logo.svg" alt="PorYoung" title="HIFI" data-content="HIFI Developer" data-title="Developer"><i><span>Name:HIFI</span><span>Welcome to HIFI</span></i>`
                    config.guests.forEach(function(item){
                        html += `<img src="${item.avatarSrc}" alt="${item.name}" title="${item.name}" data-content="${item.introduction}" data-title="${item.title}" data-guest-id="${item.guestId}"><i><span>Name:${item.name}</span><span>${item.title}</span></i>` 
                    })
                    html += '</figure></div>'
                    $('#w-guests').append(html)
                    bindGuestsCarousel()
                }
            })
            $.get('/api/wall/QRSrc?username=<%= username %>',function(data){
                if(!!data && data != '-1' && data != '-2'){
                    $('#logoQR').attr({src:data}).on('mouseover',function(){
                        $(this).css({
                            height:'200%'
                        })}).on('mouseout',function(){
                            $(this).css({
                                height:'100%'
                            })
                        }).on('click',function(){
                            var html = `<div class="logoQRShow">
                                <img src="${data}" width="100%" height="100%">
                            </div>`
                            clearAlertGuestsInfoPanel = myLoading("QR:",html)
                            $('.logoQRShow').parent().parent().removeAttr('style').parent().css({
                                display:'flex',
                                'justify-content':'center',
                                'align-items':'center'
                            })
                            $('.logoQRShow').parents('#myLoadingWrap').on('click',function(){
                                clearAlertGuestsInfoPanel()
                                setGuestsTimeoutRotate()
                            })
                        })
                    config.QRSrc = data
                }
            })
        })
        
    </script>
</body>
</html>